@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1459px;
    padding: 15px 7%;
}

header {
    background-color: #fff;
    color: #5F6368;
    box-shadow: 0px 3px 5px #00000028;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}

.practicas__section {
    height: calc(100% - 106px);
}

.practicas__container {
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 20px;
}

.practica {
    display: inline-block;
    height: 250px;
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.practica:hover {
    box-shadow: 0px 0px 3px #000000a2;
    cursor: pointer;
    background-color: #eeeeee;
}

.practica > p {
    padding: 10px 15px;
    height: 100px;
    font-size: 25px;
    background-color: #3768BB;
    color: #fff;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.practica:nth-of-type(2) > p:first-of-type {
    background-color: #288b2d;
}

.practica:nth-of-type(3) > p:first-of-type {
    background-color: #ce4321;
}

.practica:nth-of-type(4) > p:first-of-type {
    background-color: #5F6368;
}

.practica:nth-of-type(5) > p:first-of-type {
    background-color: #e48124;
}

.practica:nth-of-type(6) > p:first-of-type {
    background-color: #833aad;
}

.practica:nth-of-type(7) > p:first-of-type {
    background-color: #12135f;
}

.practica:nth-of-type(8) > p:first-of-type {
    background-color: #d41951;
}

.practica:nth-of-type(9) > p:first-of-type {
    background-color: #ce4321;
}

.practica > p:nth-of-type(2) {
    background-color: transparent;
    color: #5F6368;
    font-size: 16px;
    font-family: sans-serif;
    height: auto;
    width: 50%;
}

.practica > .image {
    position: absolute;
    top: 50px;
    right: 10px;
}

footer {
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    color: #5F6368
}

@media screen and (min-width: 990px){
    .container {
        padding: 20px 49.5px;
    }

    header .container {
        padding: 15px;
    }
}