@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';
}

header {
    padding: 20px;
    padding-top: 35px;
    text-align: center;
}

header > h2 {
    font-size: 15px;
}

.inp {
    padding: 7px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

.btnCargar {
    background-color: #0F6EFF;
    border: 1px solid #0F6EFF;
    color: #fff;
}

.btnCargar:hover {
    background-color: #2d81ff;
    border: 1px solid #2d81ff;
    cursor: pointer;
}

.btnMostrar:hover {
    background-color: #e63131;
    color: #fff;
    border: 1px solid #e63131;
    cursor: pointer;
}

.busqueda {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

button.inp {
    transition: all .15s ease;
}

.btnCargar {
    margin-left: 50px;
}

.btnMostrar {
    display: block;
    margin: 15px auto 0;
}

.busqueda + p.warning + p {
    text-align: center;
    font-size: 15px;
    padding: 15px;
}

.busqueda + p.warning {
    font-size: 12px;
    color: red;
    text-align: center;
    width: 370px;
    margin: 0 auto;
}

.image__container {
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__container > img {
    height: 300px;
    display: block;
}