@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';
}

h1 {
    padding: 20px;
    text-align: center;
}

.warning {
    font-size: 12px;
    color: red;
    margin-bottom: 10px;
    width: 220px;
}

form {
    margin: 0 auto;
    width: 500px;
    height: 600px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px;
}

.input_row,
.busqueda {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 15px;
}

.busqueda {
    margin-bottom: 5px;
}

.input_row > p {
    width: 100px;
}

input, button {
    padding: 5px 10px;
}

input[type="text"]:disabled,
input[type="email"]:disabled {
    border: 1px solid gray;
}

.input_row:last-of-type {
    align-items: flex-start;
}

.datos > input[type="text"] {
    margin-bottom: 10px;
}