@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

header {
    padding: 15px;
}

h1 {
    font-size: 25px;
    text-align: center;
}

form {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
}

input[type="text"] {
    outline: none;
}

.inp {
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.btn {
    transition: all .15s ease;
}

.btn:hover {
    background-color: #2c6ec4;
    color: #fff;
    border: 1px solid #2c6ec4;
    cursor: pointer;
}

.busqueda {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.warning {
    font-size: 12px;
    color: red;
}

.resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: 15px 0px;
}