@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

h1 {
    padding: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input[type="text"] {
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 150px;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid gray;
    transition: all .1s ease;
}

button:first-of-type:hover,
.search__btn:hover {
    background-color: #f84a15;
    border: 1px solid #f84a15;
    color: #fff;
    cursor: pointer;
}

.controls > div:first-of-type > button:last-of-type:hover {
    background-color: gray;
    color: #fff;
    cursor: pointer;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    border: 1px solid transparent;
    background-color: #336bd3;
    color: #fff;
}

th:nth-of-type(2) {
    background-color: #2a54a1;
}

tr:nth-of-type(2n) {
    background-color: #e0e0e0;
}

.columna.u {
    width: 20%;
}

.columna.d {
    width: 20%;
}

.columna.t {
    width: 60%;
}

@media screen and (max-width: 586px) {
    th.columna,
    tr {
        font-size: 12px;
    }
}

@media screen and (max-width: 545px) {
    .controls {
        flex-direction: column;
        gap: 10px;
    }

    .controls > div:first-of-type,
    .controls > div:last-of-type {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .controls > div:last-of-type {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 520px) {
    h1 {
        font-size: 20px;
    }
}